 <!DOCTYPE html>
  <html>
    
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
       <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style type="text/css">
          body,html{
              background-color:#b71c1c;
          }
      </style>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <div>
          <p class="thin center-align white-text" style="font-size: 60px;">
              Your Hack result will be displayed here!!!
          </p>
      </div>
      <div class="center-align">
          <a class="waves-effect waves-red white red-text text-darken-4 btn-large" href="{{ url_for('mapRed') }}">
              <i class="material-icons left">my_location</i>Keep Hacking</a>
      </div>
    </body>
    
  </html>
        